.container-margin {
    margin-top: 30px;
}

.container-slider {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  color: #333;
}

.container-page-not-found {
  text-align: center;
}

.member-header {
  font-size: 20px;
  margin-top: 16px;
  text-align: center;
}

.member-footer {
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}